<!DOCTYPE html>
<html lang="pt-br">
<head>
 <!--BEGIN: Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id={{googleAnalyticsTrackingID}}"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', '{{googleAnalyticsTrackingID}}');
 </script>
 <!--END: Global site tag (gtag.js) - Google Analytics -->

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Câmara Municipal de Sorocaba</title>
 {{{yield-head}}}
 <link href="images/favicon2.ico" rel="shortcut icon" type="image/x-icon">
 <link href="images/favicon2.ico" rel="icon" type="image/x-icon">
 <!-- bootstrap styles-->
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <!-- Jquery UI -->
 <link href="css/jquery-ui.min.css" rel="stylesheet">
 <!-- google font -->
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
 <!-- ionicons font -->
 <link href="css/ionicons.min.css" rel="stylesheet">
 <!-- animation styles -->
 <link href="css/animate.css" rel="stylesheet"/>
 <!-- calendar-->
 <link href="css/pickmeup.css" rel="stylesheet">
 <!-- full calendar-->
 <link href="css/fullcalendar.min.css" rel="stylesheet">
 <!-- custom styles -->
 <link href="css/custom-nav.css" rel="stylesheet">
 <link href="css/custom-mycolor.css" rel="stylesheet">
 <!-- owl carousel styles-->
 <link href="css/owl.carousel.css" rel="stylesheet">
 <link href="css/owl.transitions.css" rel="stylesheet">
 <link href="css/owl.theme.css" rel="stylesheet">
 <!-- magnific popup styles -->
 <link href="css/magnific-popup.css" rel="stylesheet">
 <!-- froala styles -->
 <link href="css/froala_style.min.css" rel="stylesheet">
 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
         <![endif]-->

         <!-- BEGIN specific page styles //-->
         {{{yield-styles}}}
         <!-- END specific pages tyles//-->
       </head>
       <body>

         {{{yield-posBody}}}

         <!-- preloader start -->
<!--
10/04/2019: Disabled for performance purposes (Rodrigo).

<div id="preloader">
  <div id="status"></div>
</div>
//-->
<!-- preloader end -->

<!-- wrapper start -->
<div class="wrapper">
  <!-- header toolbar start -->
  {{^print}}
  <!--
  <div class="header-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-md-16 text-uppercase">
          <div class="row">
            <div class="col-sm-8 col-xs-16">

              <ul id="inline-popups" class="list-inline">
                 <a href="/">
                    <img src="images/ads/logo5.jpg" width="172" height="58" alt="Logotipo da Câmara"/>
                 </a>
              </ul>

            </div>
            <div class="col-xs-16 col-sm-8">
              <div id="weatherAndDateTime" class="row">
                <div id="time-date" class="col-xs-16 col-sm-11 col-lg-11"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  //-->
  {{/print}}
  <!-- header toolbar end -->

  <!-- sticky header start -->
  <!-- header start -->
  {{^print}}
  <div id="banner" class="sticky-header owl-carousel owl-theme">

   {{#banners}}
   <div class="box item">
     {{#bannerTypeLink}}
     <a href="{{url}}" target="{{target}}">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/bannerTypeLink}}

     {{#bannerTypeNews}}
     <a href="/newsitem.html?id={{accessId}}" target="_self">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/bannerTypeNews}}

     {{#bannerTypePage}}
     <a href="/page.html?id={{accessId}}">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/bannerTypePage}}

     {{#bannerTypeYoutube}}
     <a class="popup-youtube" href="https://www.youtube.com/watch?v={{videoId}}">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/bannerTypeYoutube}}

     {{#bannerTypeYoutube_live}}
     <a class="popup-youtube-live-channel" href="https://www.youtube.com/embed/live_stream?channel={{channelId}}">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/bannerTypeYoutube_live}}

     {{#bannerTypeFlickr}}

     {{#onePerLineShowMode}}
     <a  class="popup-flickr-gallery" href="/popup-render-flickr-set-big-single-image.html?setId={{accessId}}">
       <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
     </a>
     {{/onePerLineShowMode}}

     {{#threePerLineShowMode}}
     <a  class="popup-flickr-gallery" href="/popup-render-flickr-set-carousel.html?setId={{accessId}}">
      <img class="img-responsive" width="2039" height="376" src="{{imageFileURL}}" alt=""/>
    </a>
    {{/threePerLineShowMode}}
    {{/bannerTypeFlickr}}
  </div>
  {{/banners}}
</div>
{{/print}}
<!-- header end -->

<!-- nav and search start -->
{{^print}}
<div class="nav-search-outer">
 <!-- nav start -->
 <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-16">
       <a href="javascript:;" class="toggle-search pull-right">
        <span class="ion-ios7-search"></span>
      </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>

     {{>menu}}
   </div>
 </div>
</div>
<!-- nav end -->
<!-- search start -->
<div class="search-container ">
  <div class="container">
    <form action="/busca.html" method="GET" role="search">
      <input id="search-bar" name="keywords" placeholder="Digite e pressione Enter..." autocomplete="off">
    </form>
  </div>
</div>
<!-- search end -->
</nav>
<!--nav end-->
</div>
{{/print}}
<!-- nav and search end-->

<!-- sticky header end -->

{{{yield}}}

<!-- Footer start -->
{{^print}}
<footer>
  <div class="btm-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-16">
          <div class="row">
            <div class="col-sm-10 col-xs-16 f-nav wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">
              <ul class="list-inline ">
                <li> <a href="/">Home</a></li>
                <li> <a href="/page.html?tag=faleconosco">Fale Conosco</a></li>
                <li> <a href="/page.html?tag=historia">História</a></li>
                <li> <a href="/page.html?tag=comochegar">Como Chegar</a></li>
                <li> <a href="/vereadores.html">Vereadores</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{/print}}
<!-- Footer end -->
</div>
<!-- wrapper end -->

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="js/jquery-ui.min.js"></script>
<!--jQuery easing-->
<script src="js/jquery.easing.1.3.js"></script>
<!-- bootstrab js -->
<script src="js/bootstrap.js"></script>
<!--style switcher-->
<script src="js/style-switcher.js"></script> <!--wow animation-->
<script src="js/wow.min.js"></script>
<!-- time and date -->
<script src="js/moment.min.js"></script>
<!--news ticker-->
<script src="js/jquery.ticker.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.js"></script>
<!-- magnific popup -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- weather -->
<!--
<script src="js/jquery.simpleWeather.min.js"></script>
//-->
<!-- calendar-->
<script src="js/pickmeup.min.js"></script>
<script src="js/jquery.pickmeup.js"></script>
<!-- go to top -->
<script src="js/jquery.scrollUp.js"></script>
<!-- scroll bar -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/jquery.nicescroll.plus.js"></script>
<!--masonry-->
<script src="js/masonry.pkgd.js"></script>
<!--media queries to js-->
<script src="js/enquire.js"></script>
<!--lodash library-->
<script src="js/lodash.js"></script>
<!--full calendar-->
<script src="js/fullcalendar.min.js"></script>
<script src="js/fullcalendar-locale/pt-br.js"></script>
<!--camara config-->
<script src="js/camara-utils/utils.js"></script>
<!--custom js-->
<script src="js/custom-fun.js"></script>

<!-- Accessibility Code for "novo.camarasorocaba.sp.gov.br" --> <script> (function(doc, head, body){ window.interdeal = { sitekey : "6883c014867d8e8e23ea5dedbdf0b2b2", Position : "Left", Menulang : "PT", btnStyle : { icon : { type : 1, shape : "circle", outline : false }, color : { main : "#1876c9", second : "#ffffff" } } }; var coreCall = doc.createElement('script'); coreCall.src = 'https://cdn.equalweb.com/core/2.0.2/accessibility.js'; coreCall.defer = true; coreCall.integrity = 'sha512-qoSw5f0i8HNkxw/CGLQyisq1wMNj695s0JAcWXaJ9bhO5l6UBCXQ7BXpfHUxl5cyJsBouPcvht3fh32LZKQbyQ=='; coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); </script>

<!-- VLibras-->
<div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-left-wrapper"></div>
  </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
  new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

<!--BEGIN: if there is just one banner stop owl carousel -->
{{#banners.isSingle}}
<script src="js/stop-banners.js"></script>
{{/banners.isSingle}}
<!-- END: if there is just one banner stop owl carousel -->

<!-- BEGIN specific page scripts //-->
{{{yield-scripts}}}
<!-- END specific page scripts //-->



</body>
</html>
