<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4 wrong-page wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">
        <div class="text-center">
          <h1>Ocorreu um erro com sua requisição</h1>
          <p>{{message}}</p>
        </div>
        <div class="text-center"><span class="ion-sad wrong-icon "></span></div>
        <div class="text-center"><a class="btn btn-danger" href="index.html">Ir para a tela principal</a></div>
      </div>
    </div>
</div>
