{{#yield-scripts}}
<script type="text/javascript">
   $(document).ready(function() {
       "use strict";
       //make videos in froala-view responsive
       CamaraUtils.makeFroalaVideosResponsive();
       setTimeout(function () {
          $('div.fb-like iframe').attr('style', 'border: none; visibility: visible; width: 175px; height: 20px;');
       }, 1000);
       {{#keywords}}
          {{^print}}
            showMarks();
          {{/print}}
       {{/keywords}}
   });

   //show marks that highlights the keywords used in the search
   function showMarks() {
      CamaraUtils.highlight($('span#newsitemHeadline'), '{{keywords}}');
      CamaraUtils.highlight($('div#newsitemBody'), '{{keywords}}');
      $('#divShowMarks').css("display", "none");
      $('#divRemoveMarks').css("display", "inline-block");
   }

   //hidden marks that highlights the keywords used in the search
   function removeMarks() {
      CamaraUtils.unhighlight($('span#newsitemHeadline'), '{{keywords}}');
      CamaraUtils.unhighlight($('div#newsitemBody'), '{{keywords}}');
      $('#divRemoveMarks').css("display", "none");
      $('#divShowMarks').css("display", "inline-block");
   }
</script>
{{/yield-scripts}}

{{#yield-posBody}}
   <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0"></script>
{{/yield-posBody}}


<div class="container">
  <div class="row">

     {{#newsItem}}
        <div class="page-header">
           <h1>{{title}}</h1>
           <ol class="breadcrumb">
             <li><a href="/">Home</a></li>
             <li><a href="/news.html">Notícias</a></li>
             <li><a href="#">Notícia</a></li>
           </ol>
        </div>
        <div class="text-danger sub-info-bordered">
         <div class="time"><span class="ion-android-data icon"></span>{{ publicationDate }}</div>
         {{#changedDate}}
            <div class="time"><span class="ion-android-data icon"></span>atualizado em: {{ changedDate }}</div>
         {{/changedDate}}
         {{#keywords}}
            <div class="time" id="divShowMarks">
               <span class="ion-pricetags icon"></span>
               <a href="javascript:void(0)" onclick="showMarks()">Exibir marcações</a>
            </div>
            <div class="time" id="divRemoveMarks">
               <span class="ion-pricetags icon"></span>
               <a href="javascript:void(0)" onclick="removeMarks()">Remover marcações</a>
            </div>
         {{/keywords}}
        </div>
        {{#enableFacebookShareButton}}
        <div class="text-danger sub-info-nobordered">
           <img id="facebook-sharer-icon" src="images/faceicon.png" alt="Facebook" title="Facebook" width="20px" height="20px"></img>
           <div class="fb-like" data-href="{{facebookNewsItemUrl}}{{_id}}" data-width="175px" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        {{/enableFacebookShareButton}}
        {{#headline}}
        <span class="newsitemHeadline" id="newsitemHeadline">
           <p>{{headline}}</p>
        </span>
        {{/headline}}
        <span class="newsitem">
           <div class="fr-view" id="newsitemBody">
           {{{body}}}
           </div>
           {{#enableFacebookComments}}
              <div class="facebook-comments-divider"></div>
              <div class="fb-comments" data-href="{{facebookNewsItemUrl}}{{_id}}" data-width="" data-numposts="5"></div>
           {{/enableFacebookComments}}
        </span>
     {{/newsItem}}

  </div>
</div>
