{{#yield-scripts}}
<script type="text/javascript">
   $(document).ready(function() {
       "use strict";
       //make videos in froala-view responsive
       CamaraUtils.makeFroalaVideosResponsive();
   });
</script>
{{/yield-scripts}}

{{#yield-posBody}}
   <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0"></script>
{{/yield-posBody}}


<div class="container">
  <div class="row">

     {{#newsItem}}
        <div class="page-header">
           <h1>{{title}}</h1>
           <ol class="breadcrumb">
             <li><a href="/">Home</a></li>
             <li><a href="/news.html">Notícias</a></li>
             <li><a href="#">Notícia</a></li>
           </ol>
        </div>
        <div class="text-danger sub-info-bordered">
         <div class="time"><span class="ion-android-data icon"></span>{{ publicationDate }}</div>
         {{#changedDate}}
            <div class="time"><span class="ion-android-data icon"></span>atualizado em: {{ changedDate }}</div>
         {{/changedDate}}
         {{#views}}
            <!--
            25/09/2019: disabled for technical issues:
            <div class="comments">
               <span class="ion-ios7-eye icon"></span>
               {{views}}
            </div>
            //-->
         {{/views}}
        </div>
        {{#enableFacebookShareButton}}
        <div class="text-danger sub-info-nobordered">
           <img id="facebook-sharer-icon" src="images/faceicon.png" alt="Facebook" title="Facebook" width="20px" height="20px"></img>
           <div class="fb-like" data-href="{{facebookNewsItemUrl}}{{_id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        {{/enableFacebookShareButton}}
        {{#headline}}
        <span class="newsitemHeadline">
           <p>{{headline}}</p>
        </span>
        {{/headline}}
        <span class="newsitem">
           <div class="fr-view ">
           {{{body}}}
           </div>
           {{#enableFacebookComments}}
              <div class="facebook-comments-divider"></div>
              <div class="fb-comments" data-href="{{facebookNewsItemUrl}}{{_id}}" data-width="" data-numposts="5"></div>
           {{/enableFacebookComments}}
        </span>
     {{/newsItem}}

  </div>
</div>
