{{#yield-scripts}}
<script type="text/javascript">
   $(document).ready(function() {
       "use strict";
       //make videos in froala-view responsive
       CamaraUtils.makeFroalaVideosResponsive();
   });
</script>
{{/yield-scripts}}

{{#yield-posBody}}
   <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0"></script>
{{/yield-posBody}}

<div class="container">
  <div class="row">
     {{#page}}
        <div class="page-header">
           <h1>{{title}}</h1>
        </div>
        {{#enableFacebookShareButton}}
        <div class="text-danger sub-info-nobordered">
          <img id="facebook-sharer-icon" src="images/faceicon.png" alt="Facebook" title="Facebook" width="20px" height="20px"></img>
          <div class="fb-like" data-href="{{facebookPageUrl}}{{_id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        {{/enableFacebookShareButton}}
        <span class="newsitem">
           <div class="fr-view">
           {{{body}}}
           </div>
           {{#enableFacebookComments}}
              <div class="facebook-comments-divider"></div>
              <div class="fb-comments" data-href="{{facebookPageUrl}}{{_id}}" data-width="" data-numposts="5"></div>
           {{/enableFacebookComments}}
        </span>
     {{/page}}

  </div>
</div>
