{{#yield-scripts}}
   <script type="text/javascript">
      $(document).ready(function() {
          "use strict";

          {{#print}}
          window.print();
          {{/print}}
      });
   </script>
{{/yield-scripts}}

<div class="container">
  <div class="row">

     {{#legislativeProposition}}
        <div class="page-header">
           <h1>{{legislativePropositionTypeDescription}} nº {{legislativePropositionNumber}} - Vínculos</h1>
           {{^print}}
           <ol class="breadcrumb">
             <li><a href="/">Home</a></li>
             <li><a href="/proposituras.html">Legislação</a></li>
             <li><a href="/propositura.html?id={{legislativePropositionId}}">Propositura</a></li>
             <li><a href="#">Vínculos</a></li>
           </ol>
           {{/print}}
        </div>

        <span class="legislativePropositionHeadline">
           <p>{{legislativePropositionDescription}}</p>
        </span>

        <div class="text-danger sub-info-bordered" style="font-size: 16px">
           <div class="time"><span class="ion-android-data icon"></span>Publicação: {{legislativePropositionDate}}</div>
           <div class="time"><span class="ion-ios7-information icon"></span>Tipo: {{legislativePropositionTypeDescription}}</div>
           <div class="time">
             <a title="Clique aqui para abrir a redação da propositura" href="/propositura.html?id={{legislativePropositionId}}">
                <span class="ion-ios7-paper-outline icon"></span>Texto
             </a>
           </div>
           {{^print}}
              {{#legislativePropositionTextAttachment}}
              <div class="time">
                <a title="Clique aqui para abrir o texto anexo" href="/propositura_texto_anexo.html?id={{legislativePropositionId}}">
                   <span class="ion-ios7-paper icon"></span>Texto Anexo
                </a>
              </div>
              {{/legislativePropositionTextAttachment}}
           {{/print}}

           {{^print}}
              {{#legislativePropositionFileAttachments.length}}
              <div class="time">
                 <a title="Clique aqui para abrir os arquivos anexos" href="/propositura_arquivos_anexos.html?id={{legislativePropositionId}}">
                    <span class="ion-ios7-download icon"></span>Arquivos Anexos
                 </a>
              </div>
              {{/legislativePropositionFileAttachments.length}}
           {{/print}}

           {{^print}}
             {{#legislativePropositionProcess}}
             <div class="time">
                <a title="Clique aqui para ver a matéria legislativa que criou esta propositura" href="/materia.html?id={{legislativePropositionProcess}}">
                   <span class="ion-android-book icon"></span>Matéria Legislativa
                </a>
             </div>
             {{/legislativePropositionProcess}}
           {{/print}}

           {{^print}}
             <span class="ion-android-printer"></span>
             <a href="?id={{legislativePropositionId}}&print=1" target="_blank" style="margin-left: 7px">Versão de Impressão</a>
           {{/print}}
        </div>

        {{#legislativePropositionRelationships.length}}
        <div class="col-md-16 col-sm-16">
            <div class="row">
                 <div class="col-sm-16">
                   <hr>
                   <h3>Vínculos</h3>
                   <hr>
                 </div>

                 {{#legislativePropositionRelationships}}
                 <div class="sec-topic col-sm-16">
                   <div class="row">
                     <div class="col-sm-16">
                       <div class="sec-info">
                         <div class="text-danger sub-info-bordered" style="font-size: 16px">
                            <div class="time"><span class="ion-android-data icon"></span>Data: {{otherLegislativePropositionDate}}</div>
                            <div class="time"><span class="ion-ios7-information icon"></span>{{legislativePropositionRelationshipTypeDescription}}&nbsp;<a class="otherLegislativePropositionLink" href="/propositura.html?id={{otherLegislativePropositionId}}">{{otherLegislativePropositionNumber}}</a></div>
                            <span class="otherLegislativePropositionHeadline">
                             <p>{{otherLegislativePropositionDescription}}</p>
                            </span>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 {{/legislativePropositionRelationships}}

            </div>
        </div>
        {{/legislativePropositionRelationships.length}}

        {{^legislativePropositionRelationships.length}}
        <div class="col-md-11 col-sm-11">
            <div class="row">
                 <div class="sec-topic col-sm-16">
                   <div class="row">
                     <div class="col-sm-9">
                       <div class="sec-info">
                         <div class="text-danger sub-info-bordered">
                            <div class="time">Esta propositura não possui vínculos com outras proposituras.</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
            </div>
        </div>
        {{/legislativePropositionRelationships.length}}

     {{/legislativeProposition}}

  </div>
</div>
