{{#yield-scripts}}
   <script type="text/javascript">
      $(document).ready(function() {
          "use strict";

          {{#print}}
          window.print();
          {{/print}}

          //make videos in froala-view responsive
          CamaraUtils.makeFroalaVideosResponsive();

          {{#keywords}}
             {{^print}}
               //show marks that highlights the keywords used in the search
               showMarks();
             {{/print}}
          {{/keywords}}
      });

      //show marks that highlights the keywords used in the search
      function showMarks() {
         CamaraUtils.highlight($('span#spanLegislativePropositionItemText'), '{{keywords}}');
         CamaraUtils.highlight($('span#spanLegislativePropositionHeadline'), '{{keywords}}');
         $('#divShowMarks').css("display", "none");
         $('#divRemoveMarks').css("display", "inline-block");
      }

      //hidden marks that highlights the keywords used in the search
      function removeMarks() {
         CamaraUtils.unhighlight($('span#spanLegislativePropositionItemText'));
         CamaraUtils.unhighlight($('span#spanLegislativePropositionHeadline'));
         $('#divRemoveMarks').css("display", "none");
         $('#divShowMarks').css("display", "inline-block");
      }
   </script>
{{/yield-scripts}}

<div class="container">
  <div class="row">

     {{#legislativeProposition}}
        <div class="page-header">
           <h1>{{legislativePropositionTypeDescription}} nº {{legislativePropositionNumber}} - Texto Anexo</h1>
           {{^print}}
           <ol class="breadcrumb">
             <li><a href="/">Home</a></li>
             <li><a href="/proposituras.html">Legislação</a></li>
             <li><a href="/propositura.html?id={{legislativePropositionId}}">Propositura</a></li>
             <li><a href="#">Texto Anexo</a></li>
           </ol>
           {{/print}}
        </div>

        <span class="legislativePropositionHeadline" id="spanLegislativePropositionHeadline">
           <p>{{legislativePropositionDescription}}</p>
        </span>

        <div class="text-danger sub-info-bordered" style="font-size: 16px">
           <div class="time"><span class="ion-android-data icon"></span>Promulgação: {{legislativePropositionDate}}</div>
           <div class="time"><span class="ion-ios7-information icon"></span>Tipo: {{legislativePropositionTypeDescription}}</div>
           {{^print}}
              <div class="time">
                <a title="Clique aqui para abrir a redação da propositura" href="/propositura.html?id={{legislativePropositionId}}&keywords={{keywords}}">
                   <span class="ion-ios7-paper-outline icon"></span>Texto
                </a>
              </div>
           {{/print}}

           {{^print}}
              {{#legislativePropositionFileAttachments.length}}
              <div class="time">
                 <a title="Clique aqui para abrir os arquivos anexos" href="/propositura_arquivos_anexos.html?id={{legislativePropositionId}}&keywords={{keywords}}">
                    <span class="ion-ios7-download icon"></span>Arquivos Anexos
                 </a>
              </div>
              {{/legislativePropositionFileAttachments.length}}
           {{/print}}

           {{^print}}
              {{#legislativePropositionRelationships.length}}
              <div class="time">
                 <a title="Clique aqui para ver outras proposituras vinculadas a esta" href="/propositura_alteracoes.html?id={{legislativePropositionId}}&keywords={{keywords}}">
                    <span class="ion-android-share icon"></span>Alterações
                 </a>
              </div>
              {{/legislativePropositionRelationships.length}}
           {{/print}}

           {{^print}}
             {{#legislativePropositionProcess}}
             <div class="time">
                <a title="Clique aqui para ver a matéria legislativa que criou esta propositura" href="/materia.html?id={{legislativePropositionProcess}}">
                   <span class="ion-android-book icon"></span>Matéria Legislativa
                </a>
             </div>
             {{/legislativePropositionProcess}}
           {{/print}}

           {{^print}}
             {{#keywords}}
                <div class="time" id="divShowMarks">
                   <span class="ion-pricetags icon"></span>
                   <a href="javascript:void(0)" onclick="showMarks()">Exibir marcações</a>
                </div>
                <div class="time" id="divRemoveMarks">
                   <span class="ion-pricetags icon"></span>
                   <a href="javascript:void(0)" onclick="removeMarks()">Remover marcações</a>
                </div>
             {{/keywords}}
           {{/print}}

           {{^print}}
             <span class="ion-android-printer"></span>
             <a href="?id={{legislativePropositionId}}&print=1" target="_blank" style="margin-left: 7px">Versão de Impressão</a>
           {{/print}}
        </div>

        {{#legislativePropositionTextAttachment}}
        <div class="fr-view">
           <span class="legislativePropositionItem" id="spanLegislativePropositionItemText">
              {{{legislativePropositionTextAttachment}}}
           </span>
        </div>
        {{/legislativePropositionTextAttachment}}

        {{^legislativePropositionTextAttachment}}
        <div class="col-md-11 col-sm-11">
             <div class="row">
                  <div class="sec-topic col-sm-16">
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="sec-info">
                          <div class="text-danger sub-info-bordered">
                             <div class="time">Esta propositura não possui texto anexo.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
             </div>
        </div>
        {{/legislativePropositionTextAttachment}}

     {{/legislativeProposition}}

  </div>
</div>
