{{#yield-scripts}}
   <script type="text/javascript">
      $(document).ready(function() {
          "use strict";

          $('#inputPublicationDate1').datepicker();
          $('#inputPublicationDate1').datepicker("option", "dateFormat", "dd/mm/yy");

          $('#inputPublicationDate2').datepicker();
          $('#inputPublicationDate2').datepicker("option", "dateFormat", "dd/mm/yy");

          $('#numberInput').keydown(function (event) {
             var keypressed = event.keyCode || event.which;
             if (keypressed == 13) {
                 $('#formPesquisaProposituras').submit();
             }
          });
          $('#yearInput').keydown(function (event) {
             var keypressed = event.keyCode || event.which;
             if (keypressed == 13) {
                 $('#formPesquisaProposituras').submit();
             }
          });
          $('#keywordsInput').keydown(function (event) {
             var keypressed = event.keyCode || event.which;
             if (keypressed == 13) {
                 $('#formPesquisaProposituras').submit();
             }
          });
          $('#inputPublicationDate1').keydown(function (event) {
             var keypressed = event.keyCode || event.which;
             if (keypressed == 13) {
                 $('#formPesquisaProposituras').submit();
             }
          });
          $('#inputPublicationDate2').keydown(function (event) {
             var keypressed = event.keyCode || event.which;
             if (keypressed == 13) {
                 $('#formPesquisaProposituras').submit();
             }
          });
          $('#inputType').change(function() {
              $("#inputTag").val("");
              $('#formPesquisaProposituras').submit();
          });

          {{#print}}
          window.print();
          {{/print}}

          {{#keywords}}
             {{^print}}
                CamaraUtils.highlight($('p#legislativePropositionHeadline'), '{{keywords}}');
             {{/print}}
          {{/keywords}}
     });

     function submitPesquisaProposituras(page) {
        $('#pageInput').val(page);
        $('#printVersion').val(null);
        $('#formPesquisaProposituras').attr("target", "_self");
        $('#formPesquisaProposituras').submit();
     }

     function submitPesquisaPropositurasPrint() {
        $('#pageInput').val(null);
        $('#formPesquisaProposituras').attr("target", "_blank");
        $('#printVersion').val(1);
        $('#formPesquisaProposituras').submit();
     }
   </script>
{{/yield-scripts}}

<div class="container">
    <!-- BEGIN: title start -->
    <div class="page-header">
      <h1>Pesquisa de Legislação</h1>
      {{^print}}
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Legislação</a></li>
      </ol>
      {{/print}}
    </div>
    <!-- END: title start -->
    {{#print}}
       {{#overPrint}}
       <div class="alert alert-warning" role="alert">
         Esta pesquisa retornou muitos elementos ({{printTotalCount}} elementos) e está sendo exibido apenas os {{printLimit}} primeiros elementos do resultado.
         Para gerar uma versão de impressão de uma pesquisa, é recomendado realizar uma pesquisa com um filtro mais específico para retornar menos de {{printLimit}} elementos.
       </div>
       {{/overPrint}}
    {{/print}}
    {{^print}}
    <!-- BEGIN: title start -->
    <section>
       <div class="container legislativePropositionFilter">
          <div class="row ">
            <div class="col-md-16 col-sm-16">

               <form target="_self" id="formPesquisaProposituras" method="GET" role="form">
                     <input type="hidden" name="page" id="pageInput" value="1">
                     <input type="hidden" name="print" id="printVersion" value="">
                     <div class="form-inline">
                        <div class="form-group" style="padding-right: 7px">
                          <select class="form-control" id="inputType" name="type" placeholder="Tipo de propositura">
                            {{#type}}
                              <option disabled>Tipo de norma</option>
                            {{/type}}
                            {{^type}}
                              <option disabled selected>Tipo de norma</option>
                            {{/type}}
                            <option value="">Qualquer</option>
                            {{#legislativePropositionTypes}}
                              {{#legislativePropositionTypeSelect}}
                                 <option value="{{legislativePropositionTypeId}}" selected>{{legislativePropositionTypeDescription}}</option>
                              {{/legislativePropositionTypeSelect}}
                              {{^legislativePropositionTypeSelect}}
                                 <option value="{{legislativePropositionTypeId}}">{{legislativePropositionTypeDescription}}</option>
                              {{/legislativePropositionTypeSelect}}
                            {{/legislativePropositionTypes}}
                          </select>
                        </div>
                        <div class="form-group" style="padding-right: 7px">
                            <div class="input-group input-icon">
                                <i class="fa fa-search"></i>
                                <input type="number" name="number" style="width: 120px" class="form-control" id="numberInput" placeholder="número" value="{{number}}">
                             </div>
                        </div>
                        <div class="form-group" style="padding-right: 7px">
                            <div class="input-group input-icon">
                                <i class="fa fa-search"></i>
                                <input type="number" name="year" style="width: 120px" class="form-control" id="yearInput" placeholder="ano"  value="{{year}}">
                             </div>
                        </div>
                     </div>
                     <div class="form-inline"  style="margin-top: 7px">
                        <div class="form-group" style="padding-right: 7px">
                            <div class="input-group input-icon search_tooltip">
                                <i class="fa fa-search"></i>
                                <input type="text" name="keywords" value="{{keywords}}" size="30" class="form-control" id="keywordsInput" title="Palavras-chaves para o filtro" placeholder="Palavras-chaves">
                                <span class="search_tooltiptext">Para pesquisar termos exatos, utilize as palavras-chaves entre aspas, <br> p. ex. "Rua Luiz Ricardo Maffei".</span>
                             </div>
                        </div>
                        {{#legislativePropositionsTags.length}}
                        <div class="form-group" style="padding-right: 7px">
                          <select class="form-control" id="inputTag" name="tag" placeholder="Classificação">
                            {{#tag}}
                              <option disabled>Classificação</option>
                            {{/tag}}
                            {{^tag}}
                              <option disabled selected>Classificação</option>
                            {{/tag}}
                            <option value="">Qualquer</option>
                            {{#legislativePropositionsTags}}
                              {{#legislativePropositionsTagSelect}}
                                 <option value="{{legislativePropositionTagId}}" selected>{{legislativePropositionTagDescription}}</option>
                              {{/legislativePropositionsTagSelect}}
                              {{^legislativePropositionsTagSelect}}
                                 <option value="{{legislativePropositionTagId}}">{{legislativePropositionTagDescription}}</option>
                              {{/legislativePropositionsTagSelect}}
                            {{/legislativePropositionsTags}}
                          </select>
                        </div>
                        {{/legislativePropositionsTags.length}}
                     </div>
                     <div class="form-inline"  style="margin-top: 7px">
                        <div class="form-group" style="padding-right: 7px">
                           <div class="input-group">
                             <input type="text" class="form-control"  value="{{publicationDate1}}" name="publicationDate1" id="inputPublicationDate1" title="Data da promulgação inicial para o filtro" placeholder="Data: inicial"/>
                          </div>
                        </div>
                        <div class="form-group" style="padding-right: 7px">
                           <div class="input-group">
                             <input type="text" class="form-control"  value="{{publicationDate2}}"  name="publicationDate2" id="inputPublicationDate2" title="Data da promulgação final para o filtro" placeholder="Data: final"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                             <button class="btn btn-default" id="btnSearchLegislativePropositions" onclick="submitPesquisaProposituras(1);" type="button" title="Pesquisar proposituras" style="height: 38px" type="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span>
                             </button>
                             <button class="btn btn-default" id="btnSearchLegislativePropositionsPrint" onclick="submitPesquisaPropositurasPrint();" type="button" title="Versão de Impressão" style="margin-left: 7px; height: 38px" type="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-print"></span>
                             </button>
                          </div>
                        </div>
                     </div>
               </form>


            </div>
         </div>
       </div>
    </section>
    <!-- END: title start -->
    {{/print}}

    <!-- BEGIN: proposituras body -->
    {{#pageCount}}
    <section>
       <div class="container ">
         <div class="row ">

           <div class="col-md-16 col-sm-16">
             <div class="row legislativePropositions">
               {{#legislativePropositions}}
                  {{#print}}
                  <div class="sec-topic col-sm-16 col-md-16" style="visibility: visible;">
                  {{/print}}
                  {{^print}}
                  <div class="sec-topic col-sm-16 col-md-16 wow fadeInDown animated animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  {{/print}}
                       <a href="/propositura.html?id={{legislativePropositionId}}">
                          <div class="sec-info">
                            <h3 class="legislativePropositionTitle">{{legislativePropositionTypeDescription}} nº {{legislativePropositionNumber}}</h3>
                            <div class="text-danger sub-info-bordered">
                               <div class="text-danger sub-info">
                                 <div class="time" title="data de promulgação da propositura"><span class="ion-android-calendar icon"></span>{{legislativePropositionDate}}</div>
                                 <div class="time"><span class="ion-ios7-information icon"></span>{{legislativePropositionTypeDescription}}</div>
                               </div>
                            </div>
                          </div>
                       </a>
                       <p class="headline" id="legislativePropositionHeadline">{{legislativePropositionDescription}}</p>
                  </div>
               {{/legislativePropositions}}

               {{#showPagination}}
               <div class="col-sm-16">
                    <hr>
                    <ul class="pagination">
                      <li><a href="/proposituras.html?page=1&keywords={{keywords}}&publicationDate1={{publicationDate1}}&publicationDate2={{publicationDate2}}&type={{type}}&tag={{tag}}&number={{number}}&year={{year}}" title="Primeira página">«</a></li>
                      {{#pages}}
                        {{#active}}
                           <li class="active"><a href="/proposituras.html?page={{page}}&keywords={{keywords}}&publicationDate1={{publicationDate1}}&publicationDate2={{publicationDate2}}&type={{type}}&tag={{tag}}&number={{number}}&year={{year}}">{{page}}</a></li>
                        {{/active}}
                        {{^active}}
                           <li><a href="/proposituras.html?page={{page}}&keywords={{keywords}}&publicationDate1={{publicationDate1}}&publicationDate2={{publicationDate2}}&type={{type}}&tag={{tag}}&number={{number}}&year={{year}}">{{page}}</a></li>
                        {{/active}}
                      {{/pages}}
                      <li><a href="/proposituras.html?page={{pageCount}}&keywords={{keywords}}&publicationDate1={{publicationDate1}}&publicationDate2={{publicationDate2}}&type={{type}}&tag={{tag}}&number={{number}}&year={{year}}" title="Última página">»</a></li>
                    </ul>
               </div>
               {{/showPagination}}
             </div>
           </div>

         </div>
       </div>
    </section>
    {{/pageCount}}
    {{^pageCount}}
         <div class="alert alert-warning" role="alert">Nenhuma propositura encontrada.</div>
    {{/pageCount}}
    <!-- END: proposituras body -->
  </div>                                                                                                                                                                                                                                                                                                                                      
