<div class="collapse navbar-collapse" id="navbar-collapse">
   <ul class="nav navbar-nav main-nav multi-level">
       {{#menuItems}}

            {{#hasMenuItems}}
               <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle text-uppercase" data-toggle="dropdown">
                     {{ title }}
                     <span class="ion-ios7-arrow-down nav-icn"></span>
                  </a>
                  <ul class="dropdown-menu multi-level" role="menu">
                     {{#menuItems}}

                           {{#hasMenuItems}}
                              {{>submenu}}
                           {{/hasMenuItems}}

                           {{^hasMenuItems}}
                              <li class="menuItemNotMobile">
                                 {{>menu_access}}
                              </li>
                           {{/hasMenuItems}}

                     {{/menuItems}}

                     {{#leafMenuItems}}
                        <li  class="menuItemMobile">
                           {{>menu_access}}
                        </li>
                     {{/leafMenuItems}}
                  </ul>
               </li>
            {{/hasMenuItems}}

            {{^hasMenuItems}}
               <li>
                  {{>menu_access}}
               </li>
            {{/hasMenuItems}}



       {{/menuItems}}
   </ul>
</div>
